body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1170px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:148px;
  top:0px;
  width:1022px;
  height:763px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:763px;
}
#u1 {
  position:absolute;
  left:2px;
  top:374px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:510px;
  top:410px;
  width:310px;
  height:30px;
}
#u2_img {
	position: absolute;
	left: -78px;
	top: 39px;
	width: 310px;
	height: 30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:747px;
  top:454px;
  width:63px;
  height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
