/*��¼*/
.login_page{ width:100%; height:100%; background-color:; overflow:hidden;margin-left:auto; margin-right:auto; font-size:12px;}
.header{ height:60px; background-color:#202020; overflow:hidden;}
.login_page .login{ width:310px; height:430px; background-color:#F9F6F6; margin-top:0px; margin-left:auto; margin-right:auto; padding-top:25px; padding-left:40px; padding-right:25px;}
.header div{ margin-top:10px; margin-left:30px; float:left;}
.header a{ margin-left:20px; margin-top:14px; float:left; font-size:22px; color:#f2f2f2}
.user_login{  overflow:hidden; margin-top:0px}
.user_login a{ font-size:18px; line-height:18px; float:left; margin-left:10px;}
.user_login img{ display:block;float:left}
.line{ width:300px; height:1px; background-color:#CAC7C7; margin-top:25px; margin-bottom:25px;}
.user{ margin-top:10px;}
.user input{ width:300px; height:30px;}
.verification_code{ overflow:hidden; margin-top:10px}
.verification_code input{ width:180px; height:30px; float:left;}
.verification_code img{ float:left; height:30px; margin-left:6px;}
.automatic_login{ margin-top:10px}
.login button{ width:300px; height:30px; background-color:#0095c4; border:none; color:#FFFFFF; font-size:16px; margin-top:6px;}
.registered{ margin-top:10px; width:300px; margin-bottom:15px;}
.registered a{ color:#0094c8;}
.registered span{color:#0094c8; float:right;}
.registered div{ float:right;}
.service{ margin-top:5px;}
.service a{color:#0094c8;}




.ax_��״ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_�ı����� {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h1 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h2 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h3 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h4 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h5 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_h6 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_image {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_�ı����� {
  color:#0000FF;
}
.ax_�����ͣ�ı�����ʱ {
}
.ax_��갴���ı�����ʱ {
}
.ax_�ı��� {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_�����ı��� {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_�����б�� {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_�б�� {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:left;
  line-height:normal;
}
.ax_��ѡ�� {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_��ѡ��ť {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_������״ {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_tree_node {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_�ύ��ť {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_���� {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_������� {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_��̬��� {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_master {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_�м��� {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_��� {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_��Ԫ�� {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.ax_�˵� {
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
.ax_ˮƽ�� {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_��ֱ�� {
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.ax_connector {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
